@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
}
.banner-section-container:hover{
    margin: 10px 10px;
  }
  footer{
    background-color: black;
    color: white;
}
.vieww{
    background-color: red;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}
.transfer-button{
    background-color: white;
    color: black;
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
}
.watch-button{
    text-align: center;
    background-color: red; 
    margin-left: 40%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
.icons{
        margin-left: 49%;
        margin-top: 20px;
}
.date{
    font-weight: 400;
    font-size: 20px;
}
.blog{
    background-color: red;
}
.clock{
    display: flex;
    align-items: center;
}
.clock-icon{
    height: 20px;
}
footer h1{
    text-align: center;
}
.data-flag{
    display: flex;
}
.data-flag h2{
    margin: 0px 10px;
}
.chat-clock{
    display: flex;
    width: 50%;
    justify-content:space-between;
}
.data{
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
  
}
/*  large screen  */
@media only screen and ( min-width: 1200px) {
    .banner-section-container{
        display: flex;
        background-color: rgb(0, 0, 5);
        margin:50px 100px ;
        color: white;
        transition: margin 5s;
        border-radius: 20px;
    }
    .banner-section{
        width: 50%;
        
        
    }
    .view{
        display: none !important;
    }
    .hidden{
        display: block !important;
    }
    .banner-section-one{
        width: 50%;
        padding: 50px;
    }
    .banner-heading{
        font-size: 70px;
    }
    .banner-paragraph{
        font-size: 20px;
        line-height: 25px;
    }
    .banner-img{
        width: 500px;
        height: 600px;
        margin-top: 50px;
    }
    .data-section-container{
        display: flex !important;
        margin:50px 100px ;
    }
    .page-section{
        width: 30% !important;
      
       
    }
    .button-group{
        background-color: black;
        padding: 30px 30px 10px 30px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .match-button{
        height: 50px;
        width: 100% !important;
        margin-bottom: 20px;
        border: none;
        border-radius: 10px;
    }
    .data-section{
        margin-left: 20px;
        width: 70%;
      
    }
    .data-details{
        display: grid;
        grid-template-columns: repeat(3,1fr) !important;
    }
    .data{
        margin: 10px 10px;
    }
    .data-img{
        width: 100%;
    }
    footer{
        padding: 100px 160px;
    }
    .footer-item{
        display: grid;
        grid-template-columns: repeat(6,1fr) !important;
        text-align: center;
    }
    footer h2{
        font-size: 20px;
    }
}
/* small screen  */
@media only screen and ( max-width: 700px){
    .banner-section-container{
      
        background-color: rgb(0, 0, 5);
        margin:50px 10px ;
        color: white;
        transition: margin 5s;
        border-radius: 20px;
    }
    .banner-section{
        
        text-align: center;
        
    }
    footer{
        padding: 100px 100px;
    }
    .footer-item{
        display: grid;
        grid-template-columns: repeat(1,1fr) !important;
        text-align: center;
    }
    footer h2{
        font-size: 20px;
    }
    .view{
        display: none;
    }
    .banner-section-one{
       
    }
    .banner-heading{
        font-size: 70px;
        text-align: center;
    }
    .banner-paragraph{
        font-size: 20px;
        line-height: 25px;
        text-align: center;
    }
    .hidden{
        display: none !important;
    }
    .data-img{
        width: 100%;
    }
    .data{
        margin-top: 10px;
    }
    .button-group{
        display: block !important;
        background-color: darkblue;
        padding: 30px 30px 10px 30px;
    }
    .match-button{
        height: 50px;
        width: 100% !important;
        margin-bottom: 20px;
        border: none;
        border-radius: 10px;
    }
    .banner-heading{
        font-size: 40px;
    }
    .banner-paragraph{
        text-align: center;
        padding: 10px 20px;
    }
    .banner-img{
       padding: 10px 20px;
    }
    .icons{
        margin-left: 42%;
        margin-top: 20px;
}
/* medium screen*/
@media only screen and ( min-width: 701px) {
    
    .banner-section-container{
        display: flex;
        background-color: black;
        color: white;
        border-radius: 20px;
        padding: 50px;
        margin:50px 70px ;
        transition: margin 5s;
    }
    .banner-section-one{
        width: 50%;
    }
    .banner-section{
        width: 50%;
    }
    .data-section-container{
     
        margin:50px 70px ;
    }

    .banner-heading{
        font-size: 50px;
        text-align: center;
    }
    .banner-paragraph{
        font-size: 20px;
        line-height: 25px;
        text-align: center;
    }
    .banner-img{
        height: 450px;
        width: 100%;
    }
    .hidden{
        display: none;
    }
    .data-section-container{
        display: grid;
        grid-template-rows: repeat(1,1fr);
    }
    .page-section{
        width: 100%;
        
        height: 100px !important;
      
       
    }
    /* .button-group{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    } */
    .data-section{
        margin-left: 20px;
        width: 100%;
      
    }
    .button-group{
        margin: 0 auto;
       
    }
    .match-button{
        height: 50px;
        width:25%;
        margin-bottom: 20px;
        border: none;
        border-radius: 10px;
        margin:10px;
    }
    .data-details{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .data{
        margin:10px;
    }
    .data-img{
        width: 100%;
    }
    .view{
        display: block;
        text-align: center;
    }
    footer{
        padding: 100px 160px;
    }
    .footer-item{
        display: grid;
        text-align: center;
        grid-template-columns: repeat(4,1fr);
        align-items: center;
        text-align: center;
    }
    .footer-item h2{
        font-size: 20px;
        margin-left: 30px;
        text-align: center;
      
    }
    
}